{% extends "base.html" %}

{% block title %}blog titles{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        {% for blog in blogs %}
            <h5><a href="{{ blog.id }}">{{ blog.title }}</a></h5>
            <hr>
        {% endfor %}
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>固定板块</h2>
        <p>详情欢迎访问47.112.7.23</p>
        <img width="100px" src="/static/images/background.gif">
    </div>
</div>
{% endblock %}