{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.itdiffer.com">
                <img width="100px" src="{% static 'images/backlogo.png' %}">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="{% url 'article:article_column' %}">blog管理</a></li>
                <li><a href="#">bbs管理</a></li>
{#                <li><a href="{% url 'image:list_images' %}">图片管理</a></li>#}
{#                <li><a href="{% url 'course:manage_course' %}">课程管理</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                <li><a href="{% url 'bbs:bbs_index' %}">网站首页</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'bbs:bbs_pub' %}">发布新帖</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                    <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                    <li><a href="{% url 'article:article_column' %}">后台管理</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">Login</a></li>
                <li><a href="{% url 'account:user_register' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>